@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.caixa1 {
    background-color: aquamarine;
    grid-area: 1 / 1 / 2 / 5;           
}

.caixa2 {
    background-color: blanchedalmond;
    grid-area: 2 / 1 / 4 / 3;           
}

.caixa3 {
    background-color: cornflowerblue;
    grid-area: 2 / 3 / 4 / 5;
}